<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <bean id="socketPoolConfig" class="com.tota.outside.rpc.socket.SocketPoolConfig">
        <property name="maxTotal" value="${socket.pool.maxTotal}"/>
        <property name="maxIdle" value="${socket.pool.maxIdle}"/>
        <property name="maxWaitMillis" value="${socket.pool.maxWaitMillis}"/>
        <property name="testOnBorrow" value="${socket.pool.testOnBorrow}"/>
    </bean>

    <bean id="socketConnectionFactory" class="com.tota.outside.rpc.socket.SocketConnectionFactory">
        <property name="hostName" value="${socket.host}"/>
        <property name="port" value="${socket.port}"/>
        <property name="keepAlive" value="${socket.keepAlive}"/>
        <property name="timeout" value="${socket.timeout}"/>
    </bean>

    <bean id="socketPool" class="com.tota.outside.rpc.socket.SocketPool">
        <constructor-arg index="0" ref="socketConnectionFactory"/>
        <constructor-arg index="1" ref="socketPoolConfig"/>
    </bean>

    <bean id="connectionTemplet" class="com.tota.outside.rpc.socket.ConnectionTemplet">
        <property name="pool" ref="socketPool"/>
    </bean>

</beans>